<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
  <title>Accommodation - Ponta do Ouro</title>
  <link rel="stylesheet" href="../css/output.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <!-- AOS CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="font-sans bg-gray-100 overflow-x-hidden">

  <!-- preloader  -->
  <div id="preloader" class="fixed flex bg-white h-full w-full justify-center items-center overflow-hidden z-50">
    <nav class="w-16 h-16  rounded-full border-white border-8 border-solid border-t-[#F28705]">
    </nav>
  </div>


  <main-header></main-header>
  <!-- Header -->
<header class="relative top-10 bg-[#F28705] text-white py-10 shadow-lg">
  <div class="container mx-auto text-center">
    <h1 class="text-4xl font-semibold">Accommodations</h1>
    <p class="text-lg mt-2">Discover our fully equipped houses and suites for your stay.</p>
  </div>
</header>

<!-- Section: Accommodations -->
<section class="">
  <div class="container mx-auto px-6">

    <!-- Swiper: Accommodation Images -->


    <!-- Description of units -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8  py-32">
      <!-- House T2 -->
      <div class="bg-white rounded-lg shadow-lg overflow-hidden" data-aos="fade-up" data-aos-duration="1200">
        <div class="swiper mySwiperaccomodations w-full h-72 sm:h-80 md:h-96 lg:h-120">
          <!-- Wrapper for the slides -->
          <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide">
              <img class="w-full h-full object-cover cursor-pointer" onclick="openModal(this)" data-src="../assets/img/image_1.jpeg"
                alt="Suite Room (In Equipment)">
            </div>
            <!-- Slide 2 -->
            <div class="swiper-slide">
              <img class="w-full h-full object-cover cursor-pointer" onclick="openModal(this)" data-src="../assets/img/image_1.jpeg"
                alt="Suite Room (In Equipment)">
            </div>
          </div>

          <!-- Navigation Arrows -->
          <div class="swiper-button-next text-white bg-black bg-opacity-50 p-2 rounded-full"></div>
          <div class="swiper-button-prev text-white bg-black bg-opacity-50 p-2 rounded-full"></div>

          <!-- Pagination (dots) -->
          <div class="swiper-pagination"></div>
        </div>

        <div class="p-6">
          <h3 class="text-2xl font-semibold text-accent">House T2</h3>
          <p class="text-gray-700 mt-2">4 T2 Houses, fully equipped with 2 bedrooms, 1 living room, fully equipped kitchen, bathroom, and outdoor area with a garden.</p>
          <ul class="mt-4 text-gray-700">
            <li><i class="bi bi-check-circle-fill mr-2 text-accent"></i> 2 Double beds</li>
            <li><i class="bi bi-check-circle-fill mr-2 text-accent"></i> Free Wi-Fi</li>
            <li><i class="bi bi-check-circle-fill mr-2 text-accent"></i> Air conditioning</li>
            <li><i class="bi bi-check-circle-fill mr-2 text-accent"></i> Equipped kitchen</li>
            <li><i class="bi bi-check-circle-fill mr-2 text-accent"></i> Private pool</li>
          </ul>
          <div class="mt-4">
            <p class="text-xl font-semibold">Price: From MZN 6,000 / USD 90 per night</p>
            <a href="">
              <button class="bg-orange-600 mt-4 bg-accent text-white py-2 px-4 rounded-lg hover:bg-orange-400 w-full">
                Check Availability
              </button>
            </a>
          </div>
        </div>
      </div>

      <!-- Suite -->
      <div class="bg-white rounded-lg shadow-lg overflow-hidden" data-aos="fade-up" data-aos-duration="1200">
        <div class="swiper mySwiperaccomodations w-full h-72 sm:h-80 md:h-96 lg:h-120">
          <!-- Wrapper for the slides -->
          <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide">
              <img class="w-full h-full object-cover cursor-pointer" onclick="openModal(this)" data-src="../assets/img/image_1.jpeg"
                alt="Suite Room (In Equipment)">
            </div>
            <!-- Slide 2 -->
            <div class="swiper-slide">
              <img class="w-full h-full object-cover cursor-pointer" onclick="openModal(this)" data-src="../assets/img/image_1.jpeg"
                alt="Suite Room (In Equipment)">
            </div>
          </div>

          <!-- Navigation Arrows -->
          <div class="swiper-button-next text-white bg-black bg-opacity-50 p-2 rounded-full"></div>
          <div class="swiper-button-prev text-white bg-black bg-opacity-50 p-2 rounded-full"></div>

          <!-- Pagination (dots) -->
          <div class="swiper-pagination"></div>
        </div>

        <div class="p-6">
          <h3 class="text-2xl font-semibold text-accent">Suite Room</h3>
          <p class="text-gray-700 mt-2">7 Suite Rooms equipped with double bed, private bathroom, and balcony.</p>
          <ul class="mt-4 text-gray-700">
            <li><i class="bi bi-check-circle-fill mr-2 text-accent"></i> 1 Double bed</li>
            <li><i class="bi bi-check-circle-fill mr-2 text-accent"></i> Free Wi-Fi</li>
            <li><i class="bi bi-check-circle-fill mr-2 text-accent"></i> Air conditioning</li>
            <li><i class="bi bi-check-circle-fill mr-2 text-accent"></i> Private bathroom</li>
          </ul>
          <div class="mt-4">
            <p class="text-xl font-semibold">Price: From MZN 4,200 / USD 63 per night</p>
            <a href="">
              <button class="bg-orange-600 mt-4 bg-accent text-white py-2 px-4 rounded-lg hover:bg-orange-400 w-full">
                Check Availability
              </button>
            </a>
          </div>
        </div>
      </div>

<!-- Suite (In Equipment) -->
<div class="bg-white rounded-lg shadow-lg overflow-hidden" data-aos="fade-up" data-aos-duration="1200">
  <div class="swiper mySwiperaccomodations w-full h-72 sm:h-80 md:h-96 lg:h-120">
    <!-- Wrapper for the slides -->
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide">
        <img class="w-full h-full object-cover cursor-pointer" onclick="openModal(this)" data-src="../assets/img/image_1.jpeg"
          onclick="openModal(this)" alt="Suite Room (In Equipment)">
      </div>
      <!-- Slide 2 -->
      <div class="swiper-slide">
        <img class="w-full h-full object-cover cursor-pointer" onclick="openModal(this)" data-src="../assets/img/image_1.jpeg"
          onclick="openModal(this)" alt="Suite Room (In Equipment)">
      </div>
    </div>

    <!-- Navigation Arrows -->
    <div class="swiper-button-next text-white bg-black bg-opacity-50 p-2 rounded-full"></div>
    <div class="swiper-button-prev text-white bg-black bg-opacity-50 p-2 rounded-full"></div>

    <!-- Pagination (dots) -->
    <div class="swiper-pagination"></div>
  </div>

  <div class="p-6">
    <h3 class="text-2xl font-semibold text-accent">Suite Room (In Equipment)</h3>
    <p class="text-gray-700 mt-2">3 Suite Rooms still to be equipped, with a view of the garden and pool.</p>
    <ul class="mt-4 text-gray-700">
      <li><i class="bi bi-check-circle-fill mr-2 text-accent"></i> Double bed</li>
      <li><i class="bi bi-check-circle-fill mr-2 text-accent"></i> Free Wi-Fi</li>
      <li><i class="bi bi-check-circle-fill mr-2 text-accent"></i> Air conditioning</li>
    </ul>
    <div class="mt-4">
      <p class="text-xl font-semibold">Price: From MZN 3,600 / USD 54 per night</p>
      <a href="">
        <button class="bg-orange-600 mt-4 bg-accent text-white py-2 px-4 rounded-lg hover:bg-orange-400 w-full">
          Check Availability
        </button>
      </a>
    </div>
  </div>
</div>

      </div>



      <!-- Modal de Imagem -->
      <div id="imageModal" class="fixed inset-0 bg-black bg-opacity-75 hidden justify-center items-center z-50">
        <div class="relative w-full h-auto bg-[#00000075] rounded-lg shadow-lg">
          <!-- Imagem -->
          <img id="modalImage" src="" alt="Imagem em tela cheia"
            class="max-w-full max-h-screen object-contain mx-auto my-auto">

          <!-- Botão de Fechar -->
          <button onclick="closeModal()"
            class="absolute top-4 right-4 bg-yellow-500 text-white py-2 px-4 rounded-full text-lg font-semibold hover:bg-yellow-600">
            Fechar
          </button>
        </div>
      </div>

<!-- Amenities -->
<div class="text-center py-12">
  <h2 class="text-3xl font-bold text-accent mb-4" data-aos="fade-up" data-aos-duration="1200">Amenities</h2>
  <p class="text-lg text-gray-700" data-aos="fade-up" data-aos-duration="1200">What we offer for your convenience:</p>
  <div class="flex justify-center space-x-8">
    <div class="flex flex-col items-center">
      <i data-aos="fade-up" data-aos-duration="1200" class="bi bi-water text-4xl text-accent"></i>
      <span class="text-gray-700 mt-2" data-aos="fade-up" data-aos-duration="1200">Private Pool</span>
    </div>
    <div class="flex flex-col items-center">
      <i data-aos="fade-up" data-aos-duration="1200" class="bi bi-car-front text-4xl text-accent"></i>
      <span class="text-gray-700 mt-2" data-aos="fade-up" data-aos-duration="1200">Private Parking</span>
    </div>
    <div class="flex flex-col items-center">
      <i data-aos="fade-up" data-aos-duration="1200" class="bi bi-bar-chart text-4xl text-accent"></i>
      <span class="text-gray-700 mt-2" data-aos="fade-up" data-aos-duration="1200">Conference Room</span>
    </div>
  </div>
</div>

    </div>
  </section>

  <!-- Footer -->
  <main-footer></main-footer>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- GTranslate widget -->
  <script>window.gtranslateSettings = { "default_language": "en", "languages": ["en", "pt"], "wrapper_selector": ".gtranslate_wrapper" }</script>
  <script src="https://cdn.gtranslate.net/widgets/latest/lc.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="../../script.js"></script>
  <script src="../../lazy_loading.js"></script>
  <script src="../../header.js"></script>
  <script src="../../footer.js"></script>
  <script>

    // Função para alternar o menu móvel
    document.getElementById('menu-button').addEventListener('click', function () {
      const menuMobile = document.getElementById('menu-mobile');
      menuMobile.classList.toggle('hidden');
    });
  </script>
  <script>
    var swiper = new Swiper('.mySwiperaccomodations', {
      slidesPerView: 1,           // Quantidade de slides visíveis
      spaceBetween: 10,           // Espaço entre os slides
      navigation: {
        nextEl: '.swiper-button-next', // Célula para navegação "próximo"
        prevEl: '.swiper-button-prev'  // Célula para navegação "anterior"
      },
      pagination: {
        el: '.swiper-pagination', // Elemento de paginação
        clickable: true           // Torna os pontos clicáveis
      }
    });
  </script>

  <script>  // Função para abrir o modal
    function openModal(imageElement) {
      const modal = document.getElementById('imageModal');
      const modalImage = document.getElementById('modalImage');

      // Definir o 'src' da imagem modal para a imagem clicada
      modalImage.src = imageElement.src;

      // Mostrar o modal
      modal.classList.remove('hidden');
    }

    // Função para fechar o modal
    function closeModal() {
      const modal = document.getElementById('imageModal');
      modal.classList.add('hidden');
    }

  </script>

</body>

</html>