<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/output.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Swiper CSS -->
  <!-- Link para o CSS do Swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<!-- Script do Swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <!-- Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">

    <title>buy</title>
</head>

<body class="overflow-x-hidden">
         <!-- preloader  -->
         <div id="preloader" class="fixed flex bg-white h-full w-full justify-center items-center overflow-hidden z-50">
            <nav class="w-16 h-16  rounded-full border-white border-8 border-solid border-t-[#F28705]">
            </nav>
        </div>
    <!-- Header -->
    <header class="bg-white shadow-md fixed w-full z-10 top-0 left-0">
        <div class="max-w-7xl mx-auto px-6 py-4">
            <div class="flex justify-between items-center">
                <!-- Logo -->
                <!-- Logo -->
                <div class="text-xl font-semibold text-[#F28705]" data-aos="fade-down" data-aos-duration="1000">
                    <a href="#">Logo</a>
                </div>

                <!-- Navigation Menu -->
                <nav class="hidden md:flex space-x-8" data-aos="fade-down" data-aos-duration="1500">
                    <a href="#main" class="text-gray-700 hover:text-[#F28705] transition duration-300">Home</a>
                    <a href="#detail1" class="text-gray-700 hover:text-[#F28705] transition duration-300">About</a>
                    <a href="#detail2" class="text-gray-700 hover:text-[#F28705] transition duration-300">more</a>
                    <a href="#galery" class="text-gray-700 hover:text-[#F28705] transition duration-300">Gallery</a>
                    <a href="#location" class="text-gray-700 hover:text-[#F28705] transition duration-300">Location</a>
                    <a href="#footer" class="text-gray-700 hover:text-[#F28705] transition duration-300">Contact</a>
                </nav>


                <!-- Call to Action Button (Schedule a Visit) -->
                <div class="hidden md:block" data-aos="fade-down" data-aos-duration="1500">
                    <a href="#visit"
                        class="bg-[#F28705] text-white py-2 px-6 rounded-lg hover:bg-[#F28705] transition duration-300">Schedule
                        a Visit</a>
                </div>

                <!-- Mobile Menu (Hamburger) -->
                <div class="md:hidden flex items-center" data-aos="fade-down" data-aos-duration="1500">
                    <button id="menu-button" class="text-gray-700 hover:text-[#F28705] focus:outline-none">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Mobile Menu - Modal -->
            <div id="menu-mobile" class="md:hidden mt-4 hidden space-y-4 bg-white p-6 rounded-lg shadow-lg"
                data-aos="fade-down" data-aos-duration="1500">
                <a href="#main" class="block text-gray-700 hover:text-[#F28705] transition duration-300">About</a>
                <a href="#detail1" class="block text-gray-700 hover:text-[#F28705] transition duration-300">About</a>
                <a href="#detail2"
                    class="block text-gray-700 hover:text-[#F28705] transition duration-300">Features</a>
                <a href="#galery" class="block text-gray-700 hover:text-[#F28705] transition duration-300">Gallery</a>
                <a href="#location"
                    class="block text-gray-700 hover:text-[#F28705] transition duration-300">Location</a>
                <a href="#footer" class="block text-gray-700 hover:text-[#F28705] transition duration-300">Contact</a>
                <div class="mt-6">
                    <a href="#visit"
                        class="block bg-[#F28705] text-white py-2 px-6 rounded-lg hover:bg-[#F28705] transition duration-300">Schedule
                        a Visit</a>
                </div>
            </div>
        </div>
    </header>

    <div class="gtranslate_wrapper fixed bottom-20 right-10 z-50 bg-[#F28705] p-3 rounded-full shadow-lg cursor-pointer">

    </div>
    <!-- Hero Section -->
    <section id="main" class="relative h-screen">
        <!-- Image with overlay -->
        <img src="../assets/img/image_1.jpeg" alt="Complex" class="absolute inset-0 w-full h-full object-cover" />
        <div class="absolute inset-0 bg-black opacity-50"></div> <!-- Overlay for contrast -->
    
        <!-- Content -->
        <div class="container mx-auto h-full flex flex-col justify-center text-center text-white px-6 sm:px-12 z-10">
            <!-- Title -->
            <h1 class="text-4xl sm:text-6xl font-extrabold leading-tight drop-shadow-lg" data-aos="fade-up"
                data-aos-duration="2000">
                The Best Deal of Your Life is Here
            </h1>
    
            <!-- Price - Attention-grabbing -->
            <p class="text-3xl sm:text-4xl font-bold mt-8 text-[#F28705] drop-shadow-xl" data-aos="fade-up" data-aos-duration="2000">
                <span class="text-5xl sm:text-6xl font-extrabold" data-aos="fade-up" data-aos-duration="2000">This could be yours for only</span><br>
                <span id="price" class="text-5xl sm:text-6xl font-extrabold text-white py-20" data-aos="fade-up" data-aos-duration="2000">$1,000,000</span><br>
                <span class="text-xl sm:text-2xl text-[#F28705]" data-aos="fade-up" data-aos-duration="2000">Or <span class="font-extrabold text-white" data-aos="fade-up" data-aos-duration="2000">MZN 63,894,374</span></span>
            </p>
    
            <!-- Business Benefit -->
            <p class="text-lg sm:text-2xl mb-8 max-w-lg mx-auto opacity-90" data-aos="fade-up" data-aos-duration="2000">
                Take advantage of the opportunity for an excellent financial return with a strategic investment. The time to act is now!
            </p>
    
            <!-- Call to Action Buttons -->
            <div class="flex justify-center gap-4 mt-6">
                <a href="#detail1"
                    class="bg-[#F28705] hover:bg-[#F28705] text-white py-3 px-8 rounded-full text-lg font-semibold transition duration-300 transform hover:scale-105"
                    data-aos="zoom-in" data-aos-duration="2000">
                    Discover More
                </a>
                <a href="#visit"
                    class="bg-transparent border-2 border-white hover:bg-white hover:text-[#F28705] text-white py-3 px-8 rounded-full text-lg font-semibold transition duration-300 transform hover:scale-150"
                    data-aos="zoom-in" data-aos-duration="2000">
                    Schedule a Visit
                </a>
            </div>
        </div>
    </section>
    
    


    <section id="detail1" class="bg-gradient-to-r from-[#F29F05] via-[#F28705] to-[#F29F05] text-white py-24"
        id="sobre">
        <div class="max-w-7xl mx-auto px-6 text-center">
            <!-- Title -->
            <h2 class="text-4xl md:text-5xl font-extrabold leading-tight mb-6 animate__animated animate__fadeInUp"
                data-aos="fade-up" data-aos-duration="1000"data-no-translate>Accommodation Krymas</h2>
            <p class="md:text-xl mb-8 leading-relaxed animate__animated animate__fadeInUp" data-aos="fade-up"
                data-aos-duration="1200">
                Krymas Accommodation is a place where comfort, privacy, and location come together. It offers 4
                fully equipped T2 houses and 7 luxury suites, with a range of amenities to ensure the highest quality of
                life. Located next to the road and in the center of Ponta do Ouro, the project is perfect for those who
                wish to live here or for those looking to invest in a strategic and peaceful location.
            </p>

            <!-- Highlights and Differentiators -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mb-16">
                <!-- Highlight 1 -->
                <div class="bg-white bg-opacity-80 p-8 rounded-xl shadow-xl transform hover:scale-105 transition-all duration-300"
                    data-aos="fade-up" data-aos-duration="1200">
                    <img class="w-full h-48 object-cover rounded-lg mb-4 cursor-pointer" data-src="../assets/img/image_1.jpeg" onclick="openModal(this)"
                        alt="24/7 Security">
                    <h3 class="text-2xl font-semibold text-[#F28705] mb-3">24/7 Security</h3>
                    <p class="text-gray-800">Fully enclosed with 24-hour security, providing peace of mind and
                        protection for all residents.</p>
                </div>
                <!-- Highlight 2 -->
                <div class="bg-white bg-opacity-80 p-8 rounded-xl shadow-xl transform hover:scale-105 transition-all duration-300"
                    data-aos="fade-up" data-aos-duration="1200">
                    <img class="w-full h-48 object-cover rounded-lg mb-4 cursor-pointer" data-src="../assets/img/image_1.jpeg" onclick="openModal(this)"
                        alt="Sustainability">
                    <h3 class="text-2xl font-semibold text-[#F28705] mb-3">Sustainability</h3>
                    <p class="text-gray-800">Equipped with sustainable systems, including a water borehole and
                        energy-saving solutions, respecting the environment.</p>
                </div>
                <!-- Highlight 3 -->
                <div class="bg-white bg-opacity-80 p-8 rounded-xl shadow-xl transform hover:scale-105 transition-all duration-300"
                    data-aos="fade-up" data-aos-duration="1200">
                    <img class="w-full h-48 object-cover rounded-lg mb-4 cursor-pointer" data-src="../assets/img/image_1.jpeg" onclick="openModal(this)"
                        alt="Prime Location">
                    <h3 class="text-2xl font-semibold text-[#F28705] mb-3">Prime Location</h3>
                    <p class="text-gray-800">In the heart of Ponta do Ouro, with easy access to all regional
                        conveniences and stunning views.</p>
                </div>
            </div>

            <!-- Video/Animation (optional) -->
            <div class="w-full  mt-12">
                <iframe class="w-full rounded-lg h-[400px]" src="https://www.facebook.com/plugins/video.php?height=316&href=https%3A%2F%2Fwww.facebook.com%2F100068009168215%2Fvideos%2F949058749629017%2F&show_text=false&width=560&t=0" width="560" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                
            </div>
        </div>
    </section>

    <section id="detail2" class="bg-white py-24" id="caracteristicas">
        <div class="max-w-7xl mx-auto px-6 text-center">
            <h2 class="text-4xl md:text-5xl font-extrabold text-[#F28705] mb-10" data-aos="fade-up"
                data-aos-duration="1000">Features and Amenities</h2>
            <p class="md:text-xl mb-8 leading-relaxed animate__animated animate__fadeInUp" data-aos="fade-up"
                data-aos-duration="1200">
                Experience the Perfect Blend of Luxury, Comfort, and Sustainability in Every Corner of Our Complex.
                Designed to Offer an Unmatched Living Experience with Premium Features and World-Class Amenities.
            </p>
            <!-- Feature List -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
                <!-- Card 1 -->
                <div class="bg-gradient-to-r from-[#F29F05] via-[#F28705] to-[#F29F05] p-8 rounded-xl shadow-xl transform hover:scale-105 transition-all duration-300"
                    data-aos="fade-up" data-aos-duration="1200">
                    <img data-src="../assets/img/image_1.jpeg" alt="T2 House"
                        class="w-24 h-24 mb-6 mx-auto rounded-full border-4 border-white shadow-lg cursor-pointer" onclick="openModal(this)">
                    <h3 class="text-xl font-semibold text-white mb-3">4 T2 Houses</h3>
                    <p class="text-white">Fully equipped houses with 2 bedrooms and modern architecture, perfect for
                        those seeking practicality and comfort.</p>
                </div>

                <!-- Card 2 -->
                <div class="bg-gradient-to-r from-[#F29F05] via-[#F28705] to-[#F29F05] p-8 rounded-xl shadow-xl transform hover:scale-105 transition-all duration-300"
                    data-aos="fade-up" data-aos-duration="1200">
                    <img data-src="../assets/img/image_1.jpeg" alt="Suites"
                        class="w-24 h-24 mb-6 mx-auto rounded-full border-4 border-white shadow-lg cursor-pointer" onclick="openModal(this)">
                    <h3 class="text-xl font-semibold text-white mb-3 ">7 Suites</h3>
                    <p class="text-white">Suites with high-quality finishes, spacious and equipped with all the
                        amenities to provide total comfort for residents.</p>
                </div>

                <!-- Card 3 -->
                <div class="bg-gradient-to-r from-[#F29F05] via-[#F28705] to-[#F29F05] p-8 rounded-xl shadow-xl transform hover:scale-105 transition-all duration-300"
                    data-aos="fade-up" data-aos-duration="1200">
                    <img data-src="../assets/img/image_1.jpeg" alt="Swimming Pool"
                        class="w-24 h-24 mb-6 mx-auto rounded-full border-4 border-white shadow-lg cursor-pointer" onclick="openModal(this)">
                    <h3 class="text-xl font-semibold text-white mb-3">Private Pool</h3>
                    <p class="text-white">Relax and enjoy unique moments in the private pool of the complex, with total
                        privacy and comfort.</p>
                </div>

                <!-- Card 4 -->
                <div class="bg-gradient-to-r from-[#F29F05] via-[#F28705] to-[#F29F05] p-8 rounded-xl shadow-xl transform hover:scale-105 transition-all duration-300"
                    data-aos="fade-up" data-aos-duration="1200">
                    <img data-src="../assets/img/image_1.jpeg" alt="Parking"
                        class="w-24 h-24 mb-6 mx-auto rounded-full border-4 border-white shadow-lg cursor-pointer" onclick="openModal(this)">
                    <h3 class="text-xl font-semibold text-white mb-3">Secure Parking</h3>
                    <p class="text-white">Spacious and secure parking with easy access for residents and visitors,
                        providing convenience and safety.</p>
                </div>

                <!-- Card 5 -->
                <div class="bg-gradient-to-r from-[#F29F05] via-[#F28705] to-[#F29F05] p-8 rounded-xl shadow-xl transform hover:scale-105 transition-all duration-300"
                    data-aos="fade-up" data-aos-duration="1200">
                    <img data-src="../assets/img/image_1.jpeg" alt="Gourmet Space"
                        class="w-24 h-24 mb-6 mx-auto rounded-full border-4 border-white shadow-lg cursor-pointer" onclick="openModal(this)">
                    <h3 class="text-xl font-semibold text-white mb-3">Gourmet Space</h3>
                    <p class="text-white">An ideal space to gather friends and family, with a fully equipped kitchen and
                        an outdoor area to enjoy meals al fresco.</p>
                </div>

                <!-- Card 6 -->
                <div class="bg-gradient-to-r from-[#F29F05] via-[#F28705] to-[#F29F05] p-8 rounded-xl shadow-xl transform hover:scale-105 transition-all duration-300"
                    data-aos="fade-up" data-aos-duration="1200">
                    <img data-src="../assets/img/image_1.jpeg" alt="Laundry"
                        class="w-24 h-24 mb-6 mx-auto rounded-full border-4 border-white shadow-lg cursor-pointer" onclick="openModal(this)">
                    <h3 class="text-xl font-semibold text-white mb-3">Fully Equipped Laundry</h3>
                    <p class="text-white">A modern and well-equipped laundry room, with all the necessary resources for
                        everyday routines.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="galery" class="bg-[#F28705] text-white py-24">
        <div class="max-w-7xl mx-auto px-6 text-center">
            <h2 class="text-4xl md:text-5xl font-extrabold text-white pb-5" data-aos="fade-up" data-aos-duration="1000">
               Gallery</h2>
            <p class="md:text-xl mb-8 leading-relaxed animate__animated animate__fadeInUp" data-aos="fade-up"
                data-aos-duration="1200">
                Explore a Visual Journey Through Our Stunning Complex. Immerse Yourself in High-Quality Images
                Showcasing Every Detail of Our Luxurious Spaces, Design, and Unique Features for Your Ultimate
                Experience.
            </p>
            <!-- Swiper Container -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper" data-aos="fade-up" data-aos-duration="1000">
                  <!-- Slide 1 -->
                  <div class="swiper-slide">
                    <div class="relative w-full h-64">
                      <img data-src="../assets/img/image_1.jpeg" onclick="openModal(this)" alt="Imagem 1" class="w-full h-full object-cover cursor-pointer" />
                    </div>
                  </div>
                  <!-- Slide 2 -->
                  <div class="swiper-slide">
                    <div class="relative w-full h-64">
                      <img data-src="../assets/img/image_1.jpeg" onclick="openModal(this)" alt="Imagem 2" class="w-full h-full object-cover cursor-pointer" />
                    </div>
                  </div>
                  <!-- Slide 3 -->
                  <div class="swiper-slide">
                    <div class="relative w-full h-64">
                      <img data-src="../assets/img/image_1.jpeg" onclick="openModal(this)" alt="Imagem 3" class="w-full h-full object-cover cursor-pointer" />
                    </div>
                  </div>
                </div>
            
                <!-- Adicionar os controles de navegação -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
        </div>


        <!-- Lightbox Modal -->
        <div id="lightbox" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center hidden z-50">
            <div class="relative">
                <!-- X Button to Close -->
                <button onclick="closeLightbox()"
                    class="absolute top-4 right-4 text-white text-3xl font-bold">&times;</button>
                <img id="lightbox-img" src="" alt="Imagem Expandida" class="max-w-full max-h-full rounded-lg shadow-lg">
            </div>
        </div>
    </section>



  <!-- Modal de Imagem -->
    <div id="imageModal" class="fixed inset-0 bg-black bg-opacity-75 hidden justify-center items-center z-50">
        <div class="relative w-full h-auto bg-[#00000075] rounded-lg shadow-lg">
            <!-- Imagem -->
            <img id="modalImage" src="" alt="Imagem em tela cheia"
                class="max-w-full max-h-screen object-contain mx-auto my-auto">

            <!-- Botão de Fechar -->
            <button onclick="closeModal()"
                class="absolute top-4 right-4 bg-[#F28705] text-white py-2 px-4 rounded-full text-lg font-semibold hover:bg-yellow-600">
                Fechar
            </button>
        </div>
    </div>

    <section class="py-24" data-aos="fade-up" data-aos-duration="1000" id="location">
        <div class="max-w-7xl mx-auto px-6 text-center">
            <h2 class="text-4xl md:text-5xl font-extrabold text-[#F28705] mb-8">Location</h2>
            <p class="md:text-xl mb-8 leading-relaxed animate__animated animate__fadeInUp" data-aos="fade-up"
                data-aos-duration="1200">
                Conveniently located with easy access to key areas, amenities, and popular attractions.
            </p>

            <div class="lg:flex lg:space-x-12">
                <!-- Interactive Map -->
                <div class="lg:w-1/2 mb-12 lg:mb-0">
                    <div class="w-full h-96 rounded-lg overflow-hidden shadow-lg" data-aos="fade-up"
                        data-aos-duration="1000">
                        <!-- Google Maps Embed -->
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6042.222250685471!2d32.598749947986875!3d-25.779584432606217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1squinta%20melucha!5e0!3m2!1spt-PT!2smz!4v1721941139352!5m2!1spt-PT!2smz"
                            class="w-full h-full border-0" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>

                <!-- Location Description -->
                <div class="lg:w-1/2 flex flex-col justify-center" data-aos="fade-up" data-aos-duration="1000">
                    <p class="text-lg text-gray-700 mb-4">
                        Our complex is located in the heart of Ponta do Ouro, Mozambique, offering the convenience of
                        being close to everything you need.
                    </p>
                    <ul class="text-left text-gray-600 space-y-3">
                        <li class="flex items-center">
                            <i class="bi bi-shop-window text-[#F28705] mr-2 w-5 h-5"></i>
                            Close to shopping centers and local markets.
                        </li>
                        <li class="flex items-center">
                            <i class="bi bi-bus-front text-[#F28705] mr-2 w-5 h-5"></i>
                            Easy access to public transportation and main roads.
                        </li>
                        <li class="flex items-center">
                            <i class="bi bi-house-door text-[#F28705] mr-2 w-5 h-5"></i>
                            Close to schools, hospitals, and clinics.
                        </li>
                        <li class="flex items-center">
                            <i class="bi bi-umbrella text-[#F28705] mr-2 w-5 h-5"></i>
                            Proximity to leisure activities such as beaches and tourist centers.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-[#F28705] py-24" id="cta-final">
        <div class="max-w-7xl mx-auto px-6">
            <!-- Container Flex -->
            <div class="flex flex-col lg:flex-row items-center justify-between space-y-10 lg:space-y-0 gap-4">
    
                <!-- Formulário de Contato -->
                <div id="visit" class="w-full lg:w-1/2 text-center text-white">
                    <h2 class="md:text-5xl font-extrabold mb-6" data-aos="fade-up" data-aos-duration="1000">
                        Take the Next Step Towards Your Dream Property
                    </h2>
                    <p class="text-lg md:text-xl mb-10 opacity-90" data-aos="fade-up" data-aos-duration="1200">
                        Ready to make your dream a reality? Fill out the form below, or get in touch with us for more
                        details and to schedule a visit.
                    </p>
    
                    <!-- Formulário de Contato -->
                    <form action="#" method="POST"
                        class="max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-xl transform transition-all hover:scale-105 hover:shadow-2xl duration-300 ease-in-out"
                        data-aos="fade-up" data-aos-duration="1200">
                        <div class="mb-6">
                            <label for="name" class="block text-sm font-semibold text-gray-700">Full Name</label>
                            <input type="text" id="name" name="name" required
                                class="w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#F29F05] transition duration-300 ease-in-out"
                                placeholder="John Doe">
                        </div>
    
                        <div class="mb-6">
                            <label for="email" class="block text-sm font-semibold text-gray-700">Email Address</label>
                            <input type="email" id="email" name="email" required
                                class="w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#F29F05] transition duration-300 ease-in-out"
                                placeholder="example@email.com">
                        </div>
    
                        <div class="mb-6">
                            <label for="phone" class="block text-sm font-semibold text-gray-700">Phone Number</label>
                            <input type="tel" id="phone" name="phone" required
                                class="w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#F29F05] transition duration-300 ease-in-out"
                                placeholder="(123) 456-7890">
                        </div>
    
                        <div class="mb-6">
                            <label for="message" class="block text-sm font-semibold text-gray-700">Your Message</label>
                            <textarea id="message" name="message" rows="4" required
                                class="w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#F29F05] transition duration-300 ease-in-out"
                                placeholder="Write your message here..."></textarea>
                        </div>
    
                        <div class="flex justify-center">
                            <button type="submit"
                                class="w-full md:w-auto bg-[#F28705] hover:bg-[#F28705] text-white py-3 px-6 rounded-full font-semibold transition duration-300 ease-in-out transform hover:scale-105">
                                Submit Request
                            </button>
                        </div>
                    </form>
                </div>
    
                
                <!-- Imagem do Complexo -->
                <div class="w-full lg:w-1/2 flex justify-center lg:justify-end" data-aos="fade-up" data-aos-duration="1200">
                    <div class="relative w-full h-96 lg:h-auto">
                        <img data-src="../assets/img/image_1.jpeg"  onclick="openModal(this)" alt="Complexo"
                            class="w-full h-full object-cover rounded-lg shadow-xl transform transition-all hover:scale-105 hover:shadow-2xl duration-300 ease-in-out cursor-pointer">
                    </div>
                </div>
            </div>
        </div>
    </section>
    


    <footer id="footer" class="bg-[#262626] text-white py-24">
        <div class="max-w-7xl mx-auto px-6">
            <div class="grid grid-cols-1 lg:grid-cols-4 gap-12">
                <!-- Informações de Contato -->
                <div class="space-y-6">
                    <h3 class="text-3xl font-semibold text-[#F29F05]" data-aos="fade-up" data-aos-duration="1200">
                        Contact Us</h3>
                    <p class="text-lg" data-aos="fade-up" data-aos-duration="1200">
                        Main Street, Ponta do Ouro,
                        Mozambique</p>
                    <p class="text-lg" data-aos="fade-up" data-aos-duration="1200">📞 (+258) 123 456 789</p>
                    <p class="text-lg" data-aos="fade-up" data-aos-duration="1200">📧 info@complexo.com</p>
                </div>

                <!-- Redes Sociais -->
                <div class="space-y-6">
                    <h3 class="text-3xl font-semibold text-[#F29F05]" data-aos="fade-up" data-aos-duration="1200">
                        Follow Us</h3>
                    <div class="flex justify-start space-x-8">
                        <a href="https://facebook.com" data-aos="fade-up" data-aos-duration="1200" target="_blank"
                            class="text-white hover:text-indigo-400 transition-all duration-300 transform hover:scale-110">
                            <i class="bi bi-facebook text-4xl"></i>
                        </a>
                        <a href="https://instagram.com" data-aos="fade-up" data-aos-duration="1200" target="_blank"
                            class="text-white hover:text-indigo-400 transition-all duration-300 transform hover:scale-110">
                            <i class="bi bi-instagram text-4xl"></i>
                        </a>
                        <a href="https://linkedin.com" data-aos="fade-up" data-aos-duration="1200" target="_blank"
                            class="text-white hover:text-indigo-400 transition-all duration-300 transform hover:scale-110">
                            <i class="bi bi-linkedin text-4xl"></i>
                        </a>
                        <a href="https://twitter.com" data-aos="fade-up" data-aos-duration="1200" target="_blank"
                            class="text-white hover:text-indigo-400 transition-all duration-300 transform hover:scale-110">
                            <i class="bi bi-twitter text-4xl"></i>
                        </a>
                    </div>
                </div>

                <!-- Links Legais -->
                <div class="space-y-6">
                    <h3 class="text-3xl font-semibold text-[#F29F05]" data-aos="fade-up" data-aos-duration="1200">Legal
                    </h3>
                    <ul class="space-y-3">
                        <li>
                            <a href="/privacy-policy" data-aos="fade-up" data-aos-duration="1200"
                                class="text-lg hover:text-indigo-400 transition-all duration-300">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms-of-use" data-aos="fade-up" data-aos-duration="1200"
                                class="text-lg hover:text-indigo-400 transition-all duration-300">Terms of Use</a>
                        </li>
                        <li>
                            <a href="/disclaimer" data-aos="fade-up" data-aos-duration="1200"
                                class="text-lg hover:text-indigo-400 transition-all duration-300">Disclaimer</a>
                        </li>
                    </ul>
                </div>

                <!-- Assinatura -->
                <div class="text-center lg:text-right mt-6 lg:mt-0">
                    <h3 class="text-3xl font-semibold text-[#F29F05]" data-aos="fade-up" data-aos-duration="1200">Get
                        in Touch</h3>
                    <p class="text-lg" data-aos="fade-up" data-aos-duration="1200">We'd love to hear from you! Contact
                        us now to learn more about our project.</p>
                    <a href="#contact-form"
                        class="mt-4 inline-block px-8 py-3 bg-[#F29F05] text-white rounded-lg text-lg font-semibold transition-all duration-300 hover:bg-[#F28705]"
                        data-aos="fade-up" data-aos-duration="1200">Contact Us</a>
                </div>
            </div>

            <!-- Copyright -->
            <div class="mt-12 text-center text-sm opacity-70" data-aos="fade-up" data-aos-duration="1200">
                <p>&copy; 2024 Complexo Ponta do Ouro. All Rights Reserved.</p>
            </div>
        </div>
    </footer>


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
  
    </script>


        <!-- GTranslate widget -->
        <script>window.gtranslateSettings = {"default_language":"en","languages":["en","pt"],"wrapper_selector":".gtranslate_wrapper"}</script>
        <script src="https://cdn.gtranslate.net/widgets/latest/lc.js" defer></script>
    <!-- AOS JS -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script src="../../script.js"></script>
    <script src="../../lazy_loading.js"></script>
    <!-- Script to Toggle Mobile Menu -->
    <script>
        const menuButton = document.getElementById("menu-button");
        const menuMobile = document.getElementById("menu-mobile");

        menuButton.addEventListener("click", () => {
            menuMobile.classList.toggle("hidden");
        });
    </script>

<script>
            const swiper = new Swiper('.mySwiper', {
          loop: true, // Para loops infinitos
          slidesPerView: 1, // Exibe 1 slide por vez
          spaceBetween: 10, // Espaço entre os slides
      
          // Adiciona navegação (botões)
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
      
          // Adiciona paginação
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
      
          // Responsividade
          breakpoints: {
            // Quando a largura for maior que 640px
            640: {
              slidesPerView: 2, // Exibe 2 slides por vez
            },
            // Quando a largura for maior que 1024px
            1024: {
              slidesPerView: 3, // Exibe 3 slides por vez
            },
          },
        });
        
</script>

</body>

</html>